<template name="conference">
    <div class="well container-fluid row">
        <div class="col-xs-6">
            <h2>Conference Complainer</h2>
        </div>
        <div class="col-xs-6">
            <form class="conf-select-form form-inline text-right">
                <div class = "input-group">
                    <input type="text" name="conference" class="form-control"/>
                    <span class="input-group-btn">
                        <button class="btn btn-default">Join</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</template>